@font-face{
    font-family: 'Source Han Sans VF';
    src: local('Source Han Sans SC'),
         local('Noto Sans SC'),
         local('Noto Sans CJK SC'),
         url('SourceHanSansSC-VF-GB2312subset.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

:root {
    color-scheme: light dark;
}
/* 要注意表单元素并不继承父级 font 的问题 */
body {
    color: light-dark(#4e4b42, #fafbff);
    background-color: light-dark(#cdc8b0, #1e252a);
    font-family: 'Fira Sans', 'Noto Sans SC', 'Source Han Sans VF', serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    color: light-dark(#3354AA, #708ec6);
}

.col-9 {
    width: 100%;
    padding: 0;
}
@media (min-width: 768px) {
    .col-9 {
        width: 90%;
        padding: 0 5%;
    }
}

.entry{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5em 1em 0.5em 1em;
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: 1px solid #4a5157;
    margin-bottom: 0;
    background-color: light-dark(#dad4bb, #2c2d32);
}

.entry-left {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
}

.entry-title {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.entry-meta {
    margin-top: 0.5em;
    list-style: none;
    padding:0;
    margin:0;
    color: #999;
}

.entry-meta li {
  display: inline-block;
  margin: 0;
}

.entry-content {
    margin-top: 0.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 2em;
}

.entry-category {
    padding: 5px 0 5px 5px;
    margin: 1em;
    line-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    align-self: stretch;
    align-items: end;
    min-width: 3.5em;
}

.entry-category li {
    font-weight: 500;
    height: 1.5em;
    text-align: left;
    width: 100%;
    border-left: 5px solid;
    padding-left: 5px solid #943;
}

.entry-category li > a {
    display: inline-block;
    /* transform: translate(-5%, 0);*/
    text-decoration: none;
    color: light-dark(#000, #FFF);
    padding: 0;
    padding-left: 0.2em;
    transition: background 0.3s ease;
    width: 100%;
    height: 100%;
    background: light-dark(#dad4bbff, #2c2d32ff);
}

.entry-category li > a:hover {
    background: unset;
}

/* post page */
.post-title {
    font-size: 2em;
    font-weight: 600;
    line-height: 1.5em;
}

.post-title a {
    text-decoration: none;
}

.post-meta {
    font-size: 1.2em;
    line-height: 2.4em;
    padding: 0;
}

.post-meta li {
    list-style: none;
    display: inline;
    padding-right: 0.5em;
    padding-left: 0.5em;
    border-left: 5px solid;
    border-left-color: light-dark(#000, #FFF);
}

.post-meta-cats {
    display: inline;
}

.post-meta-cats li {
    border: none;
}

.post-meta-cats li>a {
    text-decoration: none;
    color: #FFF;
}

/* post near */
.post-near {
    background-color: light-dark(#dad4bb, #1e252a);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 0 10px 30px 10px;
}

.post-near a {
    color: #fff;
    text-decoration: none;
}

.post-near #larrow{
    width: auto;
    height: 30px;
}

.post-near #rarrow {
    width: auto;
    height: 30px;
    transform: rotate(180deg);
}

.near-bar {
    display: flex;
    flex-grow: 1;
    height: 30px;
    background-color: #8098a2;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: 700;
}

.near-bar #ltext {
    padding-left: 20px;
    text-align: left;
}

.near-bar #rtext {
    padding-right: 20px;
    text-align: right;
}

/* Page nav */

.page-navigator {
  list-style: none;
  margin: 25px 0;
  padding: 0;
  text-align: center;
}
.page-navigator li {
  display: inline-block;
  margin: 0 4px;
}
.page-navigator a {
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}
.page-navigator a:hover {
  background: #EEE;
  text-decoration: none;
}

.page-navigator .current a {
  color: #444;
  background: #EEE;
}
